<div class="card pale-card">
  <div class="card-body">
    <h1 class="h4 mb-3">Ajouter un film à "<%= @list.name %>"</h1>

    <%= simple_form_for [@list, @bookmark] do |f| %>
      <div class="mb-3">
        <%= f.input :movie_id, collection: Movie.order(:title), label: 'Film', input_html: { class: 'form-select' } %>
      </div>

      <div class="mb-3">
        <%= f.input :comment, as: :text, input_html: { rows: 3, class: 'form-control' }, hint: 'Minimum 6 caractères' %>
      </div>

      <div class="d-flex gap-2">
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
        <%= link_to 'Annuler', list_path(@list), class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</div>
